:root {
  --accent-color: #02885b;
  --text-color: #363535;
  --main-font: "Lato", sans-serif;
  --background-color: #fbfbfa;
  --update-card-background: #fdfdfd;
  --span-color: #04ce7a;
  --accent-text-color: #bcbcbc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
    text-decoration:none;
}

.accordian {
  width: 650px;
}

#big-box {
  padding: 50px;
}

body {
  font-size: 100%;
  margin: 0;
  font-family: "Maison Neue Book", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #282828;
}

.bt-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px;
  gap: 10px;
  padding: 10px;
}

.btn {
  background-color: #fff;
  padding: 10px 30px;
  border: 1px solid lightgrey;
  margin-bottom: 30px;
  cursor: pointer;
}

.story-container {
  grid-area: story;
}
.creator-container {
  grid-area: creator;
}
.support-container {
  grid-area: support;
}

.campaign-container {
  display: grid;
  grid-template-columns: 68% 20%;
  grid-template-areas:
    "story creator"
    "story support";
  gap: 10px;
  padding: 10px;
}

.campaign-container > div {
  text-align: center;
  padding: 20px 0;
}

.bt-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px;
  gap: 10px;
  padding: 10px;
}

.btn {
  background-color: #fff;
  padding: 10px 30px;
  border: 1px solid lightgrey;
  margin-bottom: 30px;
  cursor: pointer;
}

.story-container {
  grid-area: story;
}
.creator-container {
  grid-area: creator;
}
.support-container {
  grid-area: support;
}

.campaign-container {
  display: grid;
  grid-template-columns: 68% 20%;
  grid-template-areas:
    "story creator"
    "story support";
  gap: 10px;
  padding: 10px;
}

.campaign-container > div {
  text-align: center;
  padding: 20px 0;
}

.btn:hover {
  border: 1px solid #000;
  box-shadow: 1px 1px 4px 1px lightgrey;
}

.card-container {
  display: grid;
  grid-template-rows: 80px;
  padding: 10px;
}

.card-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.card-footer {
  position: relative;
  z-index: 999;
  box-shadow: -3px -3px 90px 90px #fff;
  overflow-x: hidden;
  margin-top: 30px;
}

.comments-likes {
  display: flex;
  flex-direction: row;
  color: var(--accent-text-color);
  font-size: 1rem;
  position: relative;
  z-index: 1000;
  gap: 20px;
}

.creator span {
  background-color: var(--span-color);
  font-size: 0.8rem;
  color: white;
  border-radius: 2px;
  padding: 2px 5px;
}

.date {
  color: var(--accent-text-color);
  font-size: 0.8rem;
}

.faq-answer,
.faq-date {
  color: black;
}

.faq-answer.show {
  display: block;
  height: auto;
  max-height: 9999px;
  transition: all 0.5 cubic-bezier(0, 1, 0, 1);
}

.faq-question {
  color: black;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.greeting {
  margin: 20px 0;
}

.hide {
  display: none;
}

.item {
  background: lightgray;
  margin-bottom: 5px;
  padding: 10px 20px;
}

.menu {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
}

.menu > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.name-date {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}
/*======================COMMENTS CSS=================================*/
.comments-section {
  display: block;
  min-height: 400px;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.py3 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
  background-color: #ffffff;
}

.container-flex {
  padding-right: 1.8rem !important;
  padding-left: 1.8rem !important;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.row-comments {
  margin-right: -1.8rem;
  margin-left: -1.8rem;
}

.col-right {
  width: 33.333333333%;
  float: right;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  box-sizing: border-box;
}

.border-left {
  padding-top: 1.2rem !important;
  padding-bottom: 1.2rem !important;
  padding-left: 1.8rem;
  border-width: 0.3rem;
  border-color: #dcdedd;
  border-left: 0.2rem solid #dcdedd;
}

.type-14 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.green {
  text-decoration: underline;
  color: #009e74;
}

.type-15 {
  font-size: 14px;
  line-height: 20px;
}

.faq-link {
  font-size: 14px;
  line-height: 20px;
}

.col-left {
  width: 66%;
  float: left;
  box-sizing: border-box;
  padding-right: 18px;
  padding-left: 18px;
}

.backers {
  text-align: center;
  padding: 1.2rem;
  background-color: #f7f7f6;
  font-size: 14px;
  line-height: 1rem;
  margin-bottom: 20px;
}

.log {
  font-weight: 700;
  color: #282828;
  text-decoration: none;
}

.comment-list {
  padding: 12px;
  margin-bottom: 1.8rem;
  background-color: #fbfbfa;
  border-color: #e8e8e8;
  border: 0.1rem solid #dcdedd;
  list-style-type: none;
  margin: 0;
  list-style: none;
}

.list-item {
  margin-bottom: 12px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.border-box {
  margin-bottom: 12px;
  word-break: break-word;
  position: relative;
  padding-right: 18px !important;
  padding-left: 18px !important;
  padding-bottom: 12px;
  padding-top: 18px;
  opacity: 1;
  background-color: #ffffff;
  box-sizing: border-box;
  border-color: #e8e8e8;
  border: 0.1rem solid #dcdedd;
}

.commentor-info {
  margin-bottom: 18px;
  display: flex;
}

.comm {
  display: flex;
}

.image {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 38px;
  width: 38px;
  margin-right: 1.2rem;
  display: inline-block;
  border-color: #dcdedd;
  border: 0.1rem solid #dcdedd;
  border-radius: 100% !important;
  vertical-align: middle;
  max-width: 100%;
}

.time {
  display: block;
  color: #9b9e9e;
  font-size: 12px;
  line-height: 18px;
}

.comments {
  display: flex;
}

.w100 {
  width: 100%;
}

.data-comment-text {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}
/*======================COMMENTS CSS=================================*/

.pledge-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 80px 80px;
  gap: 10px;
  padding: 10px;
}

.pledge-container > span {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.wrapper {
  display: flex;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  align-content: center;
}

.summary {
  margin-bottom: 10px;
}

.update-container {
  margin: 0 auto;
  padding: 30px;
  max-width: 816px;
}

.update-card:hover {
  border: 1px solid #000;
  transition: 0.8s ease-in-out;
  overflow: hidden;
}

.update-section {
  background-color: var(--background-color);
}

.p1:hover {
  padding-bottom: 30px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.update-card {
  background: var(--update-card-background);
  border: 1px solid lightgrey;
  padding: 40px;
  margin-bottom: 2rem;
  overflow: hidden;
}

.update-number {
  margin: 10px 0;
  color: var(--accent-text-color);
  text-transform: uppercase;
  font-size: 0.8rem;
}

.update-flex {
  display: flex;
  justify-content: space-between;
}

/*======================COMMUNITY CSS=================================*/

.community {
  min-height: 400px;
  position: relative;
}

.hero-section {
  background-color: #ffffff;
  padding-bottom: 12px;
}

.hero {
  padding-top: 8.4rem;
  padding-bottom: 8.4rem;
  background-size: 130% auto;
  /* padding: 12rem 0; */
  background-color: #ffffff;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 1px solid #e8e8e8;
  color: #282828;
  text-align: center;
  position: relative;
  display: block;
}

.hero-container {
  padding-right: 1.8rem !important;
  padding-left: 1.8rem !important;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.hero-title {
  font-size: 21px;
  line-height: 1.5;
  text-align: center;
  color: #282828;
  display: block;
}

.comm-locations {
  padding: 42px;
  display: block;
  /* min-height: 1000px; */
}

.locations-containers {
  padding-right: 1.8rem !important;
  padding-left: 1.8rem !important;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.locations-row {
  margin-right: -18px;
  margin-left: -18px;
}

.colu-left {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 18px;
  padding-left: 18px;
}

.locations-cities {
  margin-right: 1.8rem;
}

.subtitle {
  color: #282828;
  text-align: center;
  font-size: 21px;
  line-height: 1.5;
}

.primary-title {
  border-bottom: 1px solid #f1eeea;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 21px;
  line-height: 1.5;
}

.location-wrapper {
  margin-bottom: 100px;
  position: relative;
}

.city-list {
  max-height: 450px;
  box-sizing: border-box;
}

.location-list-item {
  font-size: 14px;
  line-height: 21px;
  height: 21px;
  width: 416.5px;
  margin: 0 0 12px 0;
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

.primary {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-right: 12px;
}

.secondary {
  font-size: 12px;
  color: #3d3d66;
  display: inline-block;
}

.right {
  float: right;
}

.tertiary {
  font-size: 12px;
  color: #3d3d66;
  display: inline-block;
}

.colu-right {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-left: 18px;
  padding-right: 18px;
  display: block;
}

.locations-countries {
  margin-left: 1.8rem;
}

.country-list {
  max-height: 450px;
  box-sizing: border-box;
}

.a-tag {
  text-decoration: none;
  color: #2752ff;
}

.existing {
  padding: 0 0 84px 0;
}

.new-container {
  padding-right: 1.8rem !important;
  padding-left: 1.8rem !important;
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}

.new-row {
  margin-right: -1.8rem;
  margin-left: -1.8rem;
}

.new-col {
  width: 941px;
  float: left;
  box-sizing: border-box;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.newfix {
  height: 274.5px;
  padding: 42px 42px 42px 42px;
  background-color: #ffffff;
  box-shadow: none;
  border: 1px solid #e8e8e8;
  display: table;
}

.new-backers {
  border-right: 1px solid #f1eeea;
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}

h5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  display: block;
  margin-block-start: 1.67em;
  margin-inline-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.backer-count {
  color: #282828;
  font-size: 95px;
  padding: 3rem 0px;
  letter-spacing: -1px;
  text-align: center;
}

.backer-description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  word-spacing: 0px;
  color: #656969;
  height: 42px;
  width: 204.25px;
  margin: 0 102px 0 102px;
  display: block;
}

.existing-backers {
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
}
/*======================COMMUNITY CSS=================================*/
.community-headings{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

/* Navbar */

.nav-bar{
    height:10vh;
    display:flex;
    align-items:center;
    border-bottom:1px solid lightgray;
    border-top:1px solid lightgray;
    margin-bottom:5rem;
}

.link{
    color:var(--text-color);
    text-decoration:none;
    font-size:0.9rem;
    margin:0 20px
}

.link:hover{
    color:var(--accent-color);
    transition:0.2s ease-in-out;
}


/* end */

/* card */

.project-header h2{
    font-size:1.6rem;
}

.project-header p{
    font-size:1rem;
}
.card-container{
    max-width:1140px;
    margin:0 auto;
}



.card-grid{
    display:grid;
    grid-template-columns:70% 30%;
    gap:2rem;
}

.grid-item h3{
    font-size:1.9rem;
    color:var(--text-color);
}

.grid-item p{
    font-size:0.9rem;
    color:var(--text-color);
}

.pledge-container{
    border-top:6px solid var(--accent-color);
    display:flex;
    flex-direction:column;
    align-items:start;
}

.pledge .btn{
    background-color:var(--accent-color);
    color:#fff;
    border:none;
    padding:15px 30px;
    font-size:1rem;
    width:100%;

}

.pledge a{
    color:#fff;
}

.pledge-amount h3{
    color:var(--accent-color);
}

.btn-icons .remind-me-btn{
    background-color:#fff;
    color:var(--text-color);
    padding:15px 30px;
    width:50%;
    border:1px solid lightgrey;
}

.btn-icons{
    display:flex;
    flex-direction:row;
    gap:20px;
    width:100%;
}

.btn-icons i{
    font-size:0.9rem;
    margin:0 20px 0 0;
    cursor:pointer;
}


.backer-trust{
    background-color:#f6f2eb;
    height:20vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.bt-container{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:5rem;
}

.backer-trust div{
    width:341px;
    font-size:1.2rem;
}
